body {
    background-color: gray;
    text-align: center;

}

h1 {
    font-size: 100px;
    font-family: Arial, Helvetica, sans-serif;
}

.thediv {
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;
}


.thediv div {
    width: 400px;
    margin: 20px;
    padding: 40px;
    
}

ul {
    border: 3px black solid;
    margin: 10px;
    padding: 20px;
    background-color: rgb(240, 230, 212);
    width: 300px;}
h2 {
    font-size: 30px;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20 px;
}

p {
    font-size: 28px;
    color: rgb(73, 73, 73);
    font-family:'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 20 px;
}

